*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form_container {
  border-radius: 5px;
  width: 30%;
  height: 400px;
  display: flex;
  padding-left: 30px;
  flex-direction: column;
  border: 1px solid grey;
  align-items: start;
  justify-content: center;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
  gap: 10px;
  width: 80%;
}

input {
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 5px;
}

.submit_box {
 padding: 5px 30px;
  margin-top: 10px;
}

label {
  font-weight: 600;
}